<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GamesDAM.Bussines.Properties.Settings.gamesDAMConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=juegosDAM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>